.modal {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-container {
    position: absolute;
    background: white;
    /* width: 30rem; */
    /* height: 30rem; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    box-shadow: 0.5px 0.5px 12px #aaaaaa;
    border-radius: 0.5rem;
    z-index: 100;
  }

  .display-on {
    display: flex;
  }

  .display-off {
    display: none;
  }
